<HTML>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  </head>
  <BODY bgcolor="cyan">
    <form method="POST" action="/letter/inquire_next/{{ letter.id }}">
      <center>
        <H1>介紹字母 </H1> <br />
        <!-- input type="hidden" name="id" /> -->
        <H2>提 &nbsp;示&nbsp;語：{{ letter.tipMessage}}</H2> <br />
        
        <H2>拼音符號： {{ letter.pinyinMessage}}</H2> <br />
        <H2>注音符號： {{ letter.zhuyin}}</H2> <br />
        <audio controls>
          <source src="{{url_for('static',filename='sounds/letter1.wav') }}"audio />
      </audio>
        <input type="submit" class='font150 PK'  value="下一題" />  <br /> <br />   
        <div class="imgcontainer">
          <img src="{{url_for('static',filename='images/show.jpg') }}" />
        </div>
      </center>
    </form>
  </BODY>
</HTML>
